body {
  background: linear-gradient(135deg, #0a3981 0%, #2a5298 100%);
  color: white;
}

.navbar {
  background: rgb(10, 57, 129, 0.3);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-darker {
  background: rgb(10, 57, 129, 0.8);
}

.title-ck {
  position: relative;
  display: inline-block;
  padding: 1rem;
}

.title-ck::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 4px;
  background-color: #ffff;
  text-align: center;
}

.alert {
  background-color: rgb(255, 255, 255, 0.7);
  color: #000;
}
