* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #0a3981; /* Ganti dengan warna yang diinginkan */
}
.navbar-nav .nav-link {
  position: relative;
  color: white; /* Warna awal teks */
  text-decoration: none; /* Hilangkan garis bawah bawaan */
  transition: color 0.3s ease-in-out; /* Animasi untuk perubahan warna */
}

.navbar-nav .nav-link:hover {
  color: #5486d2; /* Warna teks saat di-hover */
}

.navbar-nav .nav-link:hover::after {
  content: ""; /* Membuat pseudo-elemen untuk underline */
  position: absolute;
  left: 0;
  bottom: -2px; /* Garis berada tepat di bawah teks */
  width: 100%;
  height: 2px;
  background-color: #d4ebf8; /* Warna underline */
  transition: width 0.3s ease-in-out; /* Animasi underline */
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0; /* Mulai dengan lebar 0 */
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease-in-out; /* Animasi underline */
}

.navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar-nav .dropdown:hover > .nav-link {
  color: #5486d2;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: #5486d2;
  background-color: transparent !important;
}

.logout-btn {
  background-color: #e38e49;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #cc7a3e;
  transform: translateY(-2px);
}

.login-img {
  width: 30rem;
}

.sejarah {
  font-size: 25px;
  font-weight: 900;
}

.span-0 {
  color: #e38e49;
  font-weight: bolder;
}

.span-1 {
  color: #e38e49;
  font-weight: bolder;
}

.heading {
  background-color: #0a3981;
  padding: 3rem;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.konten {
  padding: 3rem;
  width: 100%;
  margin: 0;
}

.des {
  background-color: #afc1db;
  padding: 3rem;
  width: 100%;
  margin: 0;
}

.footer {
  background: linear-gradient(135deg, #0a3981 0%, #2a5298 100%);
}
