* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.navbar-nav .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #5486d2;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  width: 100%;
  background-color: #d4ebf8;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: #5486d2;
  background-color: transparent !important;
}

.navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background: rgba(30, 60, 114, 0.1);
  color: #1e3c72;
}

.logout-btn {
  background-color: #e38e49;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #cc7a3e;
  transform: translateY(-2px);
}

.card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  border-radius: 10px;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: blak;
  box-shadow: none;
}

.form-label {
  color: #0a3981;
  font-weight: 600;
}

.btn-warning {
  background: #0a3981;
  border: none;
  font-weight: 600;
  padding: 10px 25px;
  transition: all 0.3s ease;
  color: white;
}

.btn-warning:hover {
  background: #0a3981;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgb(10, 57, 129, 0.3);
  color: white;
}

.btn-secondary {
  background: #e38e49;
  border: none;
  font-weight: 600;
  padding: 10px 25px;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background: rgb(219, 127, 52);
  transform: translateY(-2px);
}
